#The following sources were used:
# https://github.com/marketplace/actions/issue-timer
#https://docs.github.com/en/actions/managing-issues-and-pull-requests/removing-a-label-when-a-card-is-added-to-a-project-board-column

name: Label Issues and PR  
on: 

  workflow_dispatch:
  project_card:
    types: [created, moved]
  push:
    branches: [main]

jobs:
  issues_r:
    name: Finding issues in project board
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/setup-go@v2
      with:
        go-version: '1.15.8'
    - name: Adding label after 30 mins 
      uses: isethi/issue-timer@main
      with:
        PROJECT_ID: 1
        TIME_IN_MINUTES: 30
        LABEL_NAME: 'time to review'
  
  add_progress_labels:
    name: Adding labels to In Progress Column 
    if: github.event.project_card.column_id == '17686387'
    runs-on: ubuntu-latest
    permissions:  
      issues: write
      pull-requests: write
    steps:
      - name : Adding labe to In Progress column 
        uses: andymckay/labeler@5c59dabdfd4dd5bd9c6e6d255b01b9d764af4414
        with:
            add-labels: "In Progress"
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            
  add_done_labels:
    name: Adding labels to Done Column 
    if: github.event.project_card.column_id == '17686389'
    runs-on: ubuntu-latest
    permissions:  
      issues: write
      pull-requests: write
    steps:
      - name : Adding labe to In Progress column 
        uses: andymckay/labeler@5c59dabdfd4dd5bd9c6e6d255b01b9d764af4414
        with:
            add-labels: "Done"
            repo-token: ${{ secrets.GITHUB_TOKEN }}

  remove_labels:
    name: Removing In Progress label for Done column
    if: github.event.project_card.column_id == '17686389'
    runs-on: ubuntu-latest
    permissions:  
      issues: write
      pull-requests: write
    steps:
      - name : Removing In Progress in Done column 
        uses: andymckay/labeler@5c59dabdfd4dd5bd9c6e6d255b01b9d764af4414
        with:
            remove-labels: "In Progress"
            repo-token: ${{ secrets.GITHUB_TOKEN }}


  
    
